@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Roboto:300,400,500,700&display=swap');

body{
    background-image: url("../img/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #19345E;
}
header { 
    background-color: white;
    /* padding: 11px 0px 11.73px 0px; */
}

.header-logo {
    margin: 11px 0px 11.73px 0px;
}

.header-menu {
    align-items: center;
}

.header-menu {
    display: table;
    text-align: right;
    font-family: Muli, sans-serif;
    font-size: 13px;
    padding: 0px;
}

.header-menu ul{
    font-size: 13px;
    text-decoration: none;
    

}
#now{
    color: #F47522;
    font-weight: bold;
}
.header-menu li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 34.5px 10px 34.4px 10px;
    
}

header ul li a{
    padding: 0px;
    margin: 0px;
    display: table;
    
}   

header, a {
    padding: 0px;
    margin: 0px;
    color: #19345E;
    
}
.profpic img{
    height: 355px;
    width: 355px;
    border-radius: 50%;
}
.content{
    padding: 94px;
}
h1{
    font-weight: bold;
    font-size: 85px;
}
h2{
    font-weight: medium;
    font-size: 35px;
}
h3{
    font-weight: medium;
    font-size: 25px;
}
.bio{
    padding: 55px 0px 0px 75px;
    vertical-align: middle;
}
.btn{
    -webkit-appearance: none;
    background-color: #F47522;
    border: #F47522 solid 2px;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 25px;
}
.btn:hover{
    background-color: white;
    border:solid 2px;
    border-color: #F47522;
}
a:hover{
    color: #F47522;
    text-decoration: none;
}
.ikon{
    float: right;
}

/* @media(max-width:991px){
    .content{
        width: 100%;
        padding: 2.5px;
        margin: 0;

} */
@media(max-width:767px){ 
    .content{
        width: 100%;
        margin: 0;
        /* padding: 2.5px; */
    }
    .bio{
        padding: 0;
        margin: 20px;
    }
    .profpic img{
        height: 200px;
        width: 200px;
        margin: 20px;
    }
    
}

@media(max-width:992px){
    .content{
        width: 100%;
        margin: 10px;
        padding: 0;
    }
    .profpic img{
        height: 250px;
        width: 250px;
        margin: 70px 0px 0px 0px;
    }

    .header-logo {
        /* float: right; */
        text-align: center;
        
    }
}
